header {
    background-color: #ac0c0c;
    color: #ffffff;
    height: 74px;
    padding: 0.5em;
    font-weight: 500;
    position: fixed; /* or sticky if you want it to scroll with the page */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .div-app-name a {
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Keep the text color consistent with surrounding text */
}

  .div-app-name a:hover {
    color: whitesmoke; /* Optional: Change color on hover */
}