.podcast-show-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.season-container {
  margin-bottom: 20px;
}

.season-heading {
  text-align: center;
}

.episode-title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate long titles */
}

.episode-block {
  width: 100%; /* Make it responsive */
  padding: 10px;
  text-align: center;
  margin: 10px; /* Add margin for spacing between episodes */
  box-sizing: border-box; /* Include padding and margin in the width */
}

.episode-description {
  font-size: 0.9rem; /* Smaller font size for descriptions */
  margin: 10px 0; /* Space between title and description */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflow */
  white-space: nowrap; /* Prevent text from wrapping */
}

.episode-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

/* Ensure the carousel doesn't exceed the screen width */
.slick-slider {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .slick-slider {
    max-width: 550px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .episode-block {
    max-width: 200px; /* Reduce the width on smaller screens */
  }
}

@media (max-width: 480px) {
  .episode-block {
    max-width: 150px; /* Further reduce the width on mobile screens */
  }
}
