footer {
    background-color: #ac0c0c;
    color: #ffffff;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
  }