/* /components/Style/podcastShowsStyle.css */

/* /components/Style/podcastShowsStyle.css */

.podcast-show-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}

.season-container {
  margin-bottom: 20px;
}

.season-heading {
  text-align: center;
}

.episode-block {
  padding: 10px;
  text-align: center;
  max-width: 150px; /* Limit the width of each episode block */
  margin: 0 auto;
}

.episode-title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate long titles */
}

.episode-description {
  font-size: 12px;
  color: gray;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word; /* Ensure text wraps within the block */
}

.episode-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

/* Ensure the carousel doesn't exceed the screen width */
.slick-slider {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .slick-slider {
    max-width: 550px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .episode-block {
    max-width: 200px; /* Reduce the width on smaller screens */
  }
}

@media (max-width: 480px) {
  .episode-block {
    max-width: 150px; /* Further reduce the width on mobile screens */
  }
}
