:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*_________________________________
CAOUSAL FOR PODCASTS DISPLAYED
___________________________________*/

.carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}

.list-style {
  list-style: none;
  text-align: center;
  width: 350px; /* Adjust as needed */
}

/* 
- Instead of adding size on BlogPost.jsx
- This seems cleaner and better maintainable 
*/
.podcast-image {
  width: 300px;
  height: 300px;
}